body{
    background-color: rgb(224, 177, 203);
    color: rgb(35, 25, 66);
}

/*Home Page*/
.basebar a{
    color: rgb(35, 25, 66);
}

.btn-primary{
    background-color: rgb(190, 149, 196) !important;
    color:rgb(35, 25, 66);
    border-color: rgb(94, 84, 142);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(35, 25, 66) !important;
    color:rgb(224, 177, 203);
    border-color: rgb(159, 134, 192);
}

.homep{
    text-align: center;
}

/* Author Statement Page*/
.authorStatement h1{
text-align: center;
}
.authorStatement p{
    margin-left: 20%;
    margin-right: 20%;
}
/* Button 1*/
.button1 {
    text-align: center;
    color: black;
    text-decoration:none;
    margin-left: 20%;
    margin-right: 20%;
}
.button1 img{
    width: 90%;
    border-radius: 2%;
}

/* Button 1*/

/* Button 1*/

/* Button 1*/

/* Button 1*/