body{
    background-color: rgb(224, 177, 203);
}
h1 {
    color: rgb(35, 25, 66);
}
.basebar a{
    color: rgb(35, 25, 66);
}

.btn-primary{
    background-color: rgb(190, 149, 196) !important;
    color:rgb(35, 25, 66);
    border-color: rgb(94, 84, 142);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(35, 25, 66) !important;
    color:rgb(224, 177, 203);
    border-color: rgb(159, 134, 192);
}

div .homebuttons{

}
