{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="button2">
    <div class="button2-1">
        <a
        href="https://www.nytimes.com/2021/01/27/world/asia/india-farmer-protest.html" \>
        <h4>"What Prompted the Farm Protests in India?"</h4>
        <img src="https://static01.nyt.com/images/2021/01/27/world/27india-protest-explainer-1/merlin_182840427_67726d53-1d85-4fee-9374-e6a12a5e050f-jumbo.jpg?quality=75&auto=webp"
            target="_blank">
    </a>
    </div>
    <div class="button2atag2">
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Back</a>
    </div>
</div>
{% endblock %}