{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="button4">
    <div class="button4-1">
        <a
        href="https://www.brooklynliberation.com" \>
        <h4>"Brooklyn Liberation Action for Trans Youth "</h4>
        <img src="https://ucarecdn.com/282d4874-84d6-45d9-94cc-3bcd523e5cdb/-/format/auto/-/preview/1500x1500/-/quality/lighter/Image%20from%20iOS%20_24_.jpg"
            target="_blank">
    </a>
    </div>
    <div class="button4-1">
        <a
        href="https://www.vogue.com/slideshow/brooklyn-liberation-march-for-trans-youth-2021" \>
        <h4>"PHOTOGRAPHY BY LEO XANDER FOO"</h4>
        <img src="https://assets.vogue.com/photos/60c798e4d8316f1bada057ee/master/w_1280%2Cc_limit/FullSizeRender(1).jpg">
        <p></p>
        <img src="https://assets.vogue.com/photos/60c798ec0622a1a3ff903611/master/w_1280%2Cc_limit/FullSizeRender(12).jpg"
            target="_blank">
            <p></p>
        <img src="https://assets.vogue.com/photos/60c798ed4b12a701e3d2e968/master/w_1280%2Cc_limit/FullSizeRender(14).jpg">
        <p></p>
        <img src="https://assets.vogue.com/photos/60c798fb9431cfcc8c1e08b7/master/w_1280%2Cc_limit/PenultimateFullSizeRender.jpg">
    </a>
    </div>
    <div class="button4atag2">
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Back</a>
    </div>
</div>
{% endblock %}